<%- include('../partials/_navbar.ejs') %>
<link rel="stylesheet" href="/stylesheets/style.css"/> 
<div class="container">
  <h1 class="page-title">Create a New Account</h1>

  <form method="POST" action="/auth/sign-up" class="form-card">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" name="firstName" id="firstName" required>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" name="lastName" id="lastName" required>
    </div>

    <div class="form-group">
      <label for="phoneNo">Phone Number</label>
      <input type="text" name="phoneNo" id="phoneNo">
    </div>

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required>
    </div>

    <div class="form-group">
      <label for="role">Role</label>
      <select name="role" id="role" required>
        <option value="">--Select Role--</option>
        <option value="Instructor">Instructor</option>
        <option value="Player">Player</option>
      </select>
    </div>

    <div class="button-group">
      <button type="submit" class="button">Sign Up</button>
    </div>
  </form>
</div>
<%- include('../partials/_footer.ejs') %>
