<nav class="navbar">
  <div class="navbar-left">
    <% if (user) { %>
      <h1>Welcome, <%= user.username %>!</h1>
    <% } else { %>
      <h1>Welcome to the Sport Hub</h1>
    <% } %>
  </div>

  <div class="navbar-right">
    <% if (!user) { %>
      <a href="/auth/sign-up" class="button">Sign up</a>
      <a href="/auth/sign-in" class="button">Sign in</a>
    <% } else { %>
      <a href="/auth/sign-out" class="button">Sign out</a>
    <% } %>
  </div>
</nav>

<% if (user && user.role === 'Admin') { %>
  <div class="main-menu">
    <a href="/clubs" class="menu-btn">Show all Clubs</a>
    <a href="/lessons" class="menu-btn">Show all Lessons</a>
  </div>
<% } %>

<% if (user && user.role === 'Player') { %>
  <div class="main-menu">
    <a href="/clubs" class="menu-btn">Show all Clubs</a>
  </div>
<% } %>

<% if (user && user.role === 'Instructor') { %>
  <div class="main-menu">
    <a href="/lessons/instructor-page" class="menu-btn">Show My Lessons</a>
  </div>
<% } %>
