<%- include("../partials/_navbar.ejs") %>
<link rel="stylesheet" href="/stylesheets/style.css"/>  
<div class="container">
  <h1 class="page-title"> Create New Club</h1>

  <form action="/clubs" method="POST" class="form-card">
    <div class="form-group">
      <label for="clubName">Name of the Club:</label>
      <input type="text" name="clubName" id="clubName" required>
    </div>

    <div class="form-group">
      <label for="phoneNo">Phone No:</label>
      <input type="text" name="phoneNo" id="phoneNo" required>
    </div>

    <div class="form-group">
      <label for="clubType">Club Type:</label>
      <input type="text" name="clubType" id="clubType" required>
    </div>

    <div class="form-group">
      <label for="openingHours">Opening Hours:</label>
      <input type="text" name="openingHours" id="openingHours" required>
    </div>

    <div class="button-group">
      <button type="submit" class="button">Create Club</button>
      <a href="/clubs" class="back-btn">Back</a>
    </div>
  </form>
</div>
<%- include('../partials/_footer.ejs') %>